<!-- Controlled by AbbrCtrl (in termController.js)  -->

<style>
.color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 2px;
	background-color: #ccc;
	left: 5px;
	top: 5px;
	vertical-align: center;
}
</style>
<div class="row">

  <!-- Content -->
  <div class="col-md-12 col-xs-12">
    <!-- Term Management section -->

    <div class="row">
      <div class="col-md-6">
        <h4
          ng-show="user.applicationRole == 'ADMINISTRATOR' || user.applicationRole == 'USER'">Terms
          ({{lists.terms.totalCount}})</h4>


        Terminology: <select ng-model="selected.metadata.terminology"
          ng-change="setTerminology(selected.metadata.terminology)"
          ng-options="terminology as terminology.terminology for terminology in getViewableTerminologies() | orderBy:'terminology'">
        </select> 
      
            Type:<select style="max-width:150px;"
              ng-options="type as type for type in lists.rawTermTypes"
              ng-change="paging['term'].callbacks.getPagedList()"
              ng-model="paging['term'].termType"><option value=""></option></select>
         
        
        <span class="pull-right"> <span class="color-box"
          style="background-color: blue;" ng-show="paging['term'].hasCovered"
          ng-click="toggleCoveredMode()" title="Fully covered"></span>&nbsp;<span
          class="color-box" style="background-color: green;"
          ng-show="paging['term'].hasNew" ng-click="toggleNewMode()"
          title="New term"></span>&nbsp;<span class="color-box"
          style="background-color: red;" ng-show="paging['term'].hasNeedsReview"
          ng-click="toggleReviewMode()" title="Some terms need review"> </span>&nbsp;
          <span class="color-box" style="background-color: light-grey;"
          ng-show="paging['term'].hasExcluded" ng-click="toggleExcludedMode()"
          title="Excluded terms"> </span>&nbsp;<span class="color-box"
          style="background-color: purple;"
          ng-show="paging['term'].hasModelingRequired"
          ng-click="toggleModelingRequiredMode()" title="Modeling required">
        </span>&nbsp;<span class="color-box" style="background-color: orange;"
          ng-show="paging['term'].hasUserHold" ng-click="toggleUserHoldMode()"
          title="Held for later review"></span>&nbsp; Status:<select
          ng-options="status.key as status.value for status in lists.workflowStatus"
          ng-model="paging['term'].workflowStatus" ng-change="findTerms()"></select>

        </span>

        <div class="row">

          <div class="col-md-6" pager paging="paging['term']"
            count="lists.terms.totalCount" callbacks="paging['term'].callbacks"
            style="margin-top: 10px;"></div>
         
          <div class="col-md-6">
            <span ng-show="lists.terms.totalCount > 10" style="float: right;"">
              Page size:<select ng-model="paging['term'].pageSize"
              title="Page Size"
              ng-change="paging['term'].callbacks.getPagedList()"
              ng-options="pageSize.key as pageSize.value for pageSize in lists.pageSizes">
            </select>
            </span> <span class="pull-right"> Page:<input style="width: 50px;"
              ng-model="paging['term'].page" ng-model-options="{debounce : 700}"
              ng-change="paging['term'].callbacks.getPagedList()">
            </span>
          </div>
        </div>

        <div class="alert alert-warning" ng-show="lists.terms.totalCount == 0">No
          results</div>


        <table class="slim table table-hover" style="margin-top: 10px;"
          ng-show="lists.terms.typeKeyValues.length > 0">
          <thead>
            <tr>
              <th ng-click="setSortField('term','key')">Term<span
                ng-bind="getSortIndicator('term','key')"></span></th>
              <th></th>

              <th ng-click="setSortField('term','lastModified')">Last
                Modified<span ng-bind="getSortIndicator('term','lastModified')"></span>
              </th>
              <th ng-click="setSortField('term', 'value')">Type<span
                ng-bind="getSortIndicator('term','value')"></span>
              </th>

              <th><i class="noul glyphicon glyphicon-trash"
                title="Remove all viewed raw terms"
                confirm="Are you sure you want to remove {{lists.terms.totalCount}} raw terms"
                ng-click="removeTerms()"></i>
            </tr>
          </thead>
          <tbody>
            <!-- table-hover makes use of the active class -->
            <tr ng-class="{selected: term.id == selected.termViewed.id}"
              class="breakword" ng-repeat="term in lists.terms.typeKeyValues">
              <td class="col-md-6" ng-click="setTermViewed(term)">{{term.key}}</td>
              <td class="col-md-1" style="padding-left: 15px;"><span
                class="color-box"
                style="background-color: red; margin-top: 5px;"
                ng-show="term.workflowStatus == 'NEEDS_REVIEW'"
                ng-click="toggleReviewMode()" title="Incomplete coverage"></span>
                <span class="color-box"
                style="background-color: orange; margin-top: 5px;"
                ng-show="term.workflowStatus == 'EDITING_IN_PROGRESS'"
                ng-click="toggleHeldMode()" title="Held for later review"></span>
                <span class="color-box"
                style="background-color: purple; margin-top: 5px;"
                ng-show="term.workflowStatus == 'REVIEW_IN_PROGRESS'"
                ng-click="toggleModelingRequiredMode()"
                title="Modeling required"></span> <span class="color-box"
                style="background-color: blue; margin-top: 5px;"
                ng-show="term.workflowStatus == 'PUBLISHED'"
                ng-click="toggleCoveredMode()" title="Fully covered"></span> <span
                class="color-box"
                style="background-color: green; margin-top: 5px;"
                ng-show="term.workflowStatus == 'NEW'"
                ng-click="toggleNewMode()" title="New from import"></span> <span
                class="color-box"
                style="background-color: light-grey; margin-top: 5px;"
                ng-show="term.workflowStatus == 'REVIEW_DONE'"
                ng-click="toggleExcludedMode()" title="Excluded"></span> <span
                class="label label-danger"
                ng-show="term.workflowStatus == 'DEMOTION'"> Error</span></td>


              <td class="col-md-2" ng-click="setTermViewed(term)">{{toShortDate(term.lastModified)}}</td>
              <td class="col-md-3">{{term.value}}</td>
              <td class="col-md-1"><i
                class="noul glyphicon glyphicon-trash" title="Remove term"
                ng-click="removeTerm(term)"></i>
            </tr>
          </tbody>
        </table>

        <hr>

        <h5>Perform bulk action on results</h5>
        <button class="btn btn-xs btn-warning"
          title="Mark terms for user hold. Status will remain unchanged until removed"
          ng-click="markAllForUserHold()">Mark for User Hold</button>
        <button ng-show="paging['term'].hasUserHold"
          class="btn btn-xs btn-primary"
          title="Mark terms for user hold. Recomputes status."
          ng-click="unmarkAllForUserHold()">Remove User Hold</button>
      </div>
      <div class="col-md-6" ng-show="selected.metadata.terminology">

        <ul class="pointer nav nav-tabs">
          <li ng-class="{active : selected.tab == 'Edit'}"
            ng-click="selected.tab = 'Edit';"><a>Edit</a></li>
          <li ng-class="{active : selected.tab == 'Import'}"
            ng-click="selected.tab = 'Import';"><a>Import</a></li>
          <li ng-class="{active : selected.tab == 'Export'}"
            ng-click="selected.tab = 'Export';"><a>Export</a></li>
          <li ng-class="{active : selected.tab == 'QA'}"
            ng-click="selected.tab = 'QA';"><a>QA</a></li>
        </ul>
        <div ng-show="selected.tab == 'Edit'">

          <!-- Review section  -->
          <div>

            <h5>Review Raw Term</h5>
            <span ng-show="!selected.termResult" class="alert alert-warning">Select
              a term</span>
            <table class="table slim" ng-show="selected.termResult">

              <tr>
                <td>Type</td>
                <td>{{selected.termResult.data.type}}</td>
              </tr>
              <tr>
                <td>Raw</td>
                <td>{{selected.termResult.data.inputString}}</td>
              </tr>
              <tr>
                <td>Removed</td>
                <td><span style="margin-right: 5px; margin-top: 5px;"
                  ng-repeat="removedTerm in selected.termResult.data.removedTerms">{{removedTerm}}</span>
              <tr ng-show="selected.termResult.data.remainingString">
                <td>Unmatched</td>
                <td>{{selected.termResult.data.remainingString}}</td>
              </tr>

              <tr>
                <td></td>
                <td><div class="alert alert-success"
                    ng-show="!selected.termResult.data.normalizedRemainingString || selected.termResult.data.normalizedRemainingString == ''">
                    Term Fully Matched</div>

                  <button
                    ng-show="!selected.termResult.data.normalizedRemainingString && selected.termResult.data.normalizedRemainingString != ''"
                    ng-click="changeWorkflowStatus('REVIEW_DONE')"
                    class="btn  btn-xs btn-danger">Exclude</button>

                  <button
                    ng-show="!selected.termResult.data.normalizedRemainingString && selected.termResult.data.normalizedRemainingString != ''"
                    ng-click="changeWorkflowStatus('PUBLISHED')"
                    class="btn  btn-xs btn-primary">Approve</button>

                  <button ng-show="workflowStatus != 'EDITING_IN_PROGRESS'"
                    ng-click="markForUserHold()" class="btn  btn-xs btn-warning">Mark
                    for Hold</button>

                  <button ng-show="workflowStatus == 'EDITING_IN_PROGRESS'"
                    ng-click="unmarkForUserHold()"
                    class="btn  btn-xs btn-warning">Release Hold</button></td>
                </td>
              </tr>
              <tr>
                <td>Model <i class="noul glyphicon small"
                  ng-class="[{'glyphicon-plus' : !local.isModelExpanded}, {'glyphicon-minus' : local.isModelExpanded}]"
                  ng-click="local.isModelExpanded = !local.isModelExpanded"></i></td>
                <td class="preformatted"><span ng-show="local.isModelExpanded">{{selected.formattedResult}}</span><span
                  ng-show="!local.isModelExpanded">{{selected.termResult.data.model}}</span></td>
            </table>

            <hr style="margin: 5px;">

            <!-- Concept search  -->
            <div>
              <h5>Search/Edit Concepts</h5>


              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-5" pager paging="paging['concept']"
                  count="lists.concepts.totalCount"
                  callbacks="paging['concept'].callbacks"
                  style="margin-top: 10px;"></div>
                <div class="col-md-4" style="margin-top: 10px;">
                  Feature: <select ng-model="paging['concept'].feature"
                    ng-options="feature.expandedForm as feature.expandedForm for feature in lists.features.types"
                    ng-change="paging['concept'].callbacks.getPagedList()"><option
                      value=""></select>

                </div>
                <div class="col-md-3 pull-right"
                  ng-show="lists.concepts.totalCount > 10"
                  style="margin-top: 10px;">
                  <span class="pull-right"> Page size: <select
                    ng-model="paging['concept'].pageSize" title="Page Size"
                    ng-change="paging['concept'].callbacks.getPagedList()"
                    ng-options="pageSize.key as pageSize.value for pageSize in lists.pageSizes">
                  </select></span>
                </div>
              </div>
              <div class="col-md-6">
                {{lists.concepts.totalCount}} results


                <div ng-repeat="concept in lists.concepts.concepts"
                  ng-class="{selected: concept.id == selected.component.id}"
                  ng-click="editConcept(concept)"
                  style="margin-bottom: 10px; border-top: thin solid #dddddd">

                  <div class="row">
                    <div class="col-md-2">Feature</div>
                    <div class="col-md-8">{{concept.semanticTypes[0].semanticType}}</div>
                  </div>
                  <div class="row"
                    ng-repeat="atom in concept.atoms | orderBy:'termType' | orderBy:'name'">
                    <div class="col-md-2">{{atom.termType}}</div>
                    <div class="col-md-8">{{atom.name}}</div>
                  </div>
                </div>


              </div>

              <div class="alert alert-warning"
                ng-show="lists.concepts.totalCount == 0">No results</div>

            </div>


          </div>

          <div class="col-md-6">

            <div style="margin-top: 14px;">
              <span ng-click="createConcept()" class="btn btn-xs btn-primary">Create
                New</span> or select from table
            </div>
            <h5 ng-show="selected.component">
              <span ng-show="!selected.component.id">Add</span><span
                ng-show="selected.component.id">Edit</span> Concept
            </h5>
            <div class="small" ng-show="selected.component">
              Last modified: {{toShortDate(selected.component.lastModified)}}<br>

              <div report selected="selected" lists="lists"
                callbacks="callbacks"></div>
            </div>
          </div>
        </div>


        <div ng-show="selected.tab == 'Import'">

          <!-- Import section -->
          <div style="margin-top: 25px;">
            <h4>Import</h4>
            <table class="table">
              <tr>
                <td>Choose File</td>
                <td>
                  <button type="file" ngf-select ng-model="selected.file"
                    ng-change="clearImportResults()" name="file"
                    ngf-pattern="lists.fileTypesFilter" ngf-max-size="1000MB">Browse
                    for File</button> {{lists.fileTypesFilter}}
                </td>
                <td>
                  <div ngf-drop ng-model="selected.file" class="drop-box"
                    ng-change="clearImportResults()" style="margin: 0px;"
                    ngf-drag-over-class="'dragover'" ngf-max-size="10MB"
                    ngf-pattern="selectedIoHandler.fileTypeFilter">Drop
                    file here</div>
                </td>
              </tr>
              <tr ng-show="selected.file">
                <td>Selected File</td>
                <td>{{selected.file.name}}<br> <span
                  class="btn btn-xs btn-primary" ng-click="importTermsFile()"
                  title="Import file">Import</span> &nbsp; <span
                  class="btn btn-xs btn-warning" ng-click="cancelImport()"
                  ng-show="validateTermsFileResults && !importTermsFileResults"
                  title="Cancel import">Cancel</span>
                <td></td>
              </tr>
            </table>

            <div ng-show="importTermsFileResults">
              <h4>Import Results</h4>
              <div class="alert alert-success"
                ng-repeat="comment in importTermsFileResults.comments">{{comment}}</div>
              <div class="alert alert-danger "
                ng-repeat="error in importTermsFileResults.errors | orderBy:'+'">{{error}}</div>
              <div class="alert alert-warning"
                ng-repeat="warning in importTermsFileResults.warnings | orderBy:'+'">{{warning}}</div>
            </div>
            <div ng-show="validateTermsFileResults">
              <h4>File Validation</h4>

              <div class="alert alert-success"
                ng-repeat="comment in validateTermsFileResults.comments">{{comment}}</div>
              <div class="alert alert-danger "
                ng-repeat="error in validateTermsFileResults.errors | orderBy:'+'">{{error}}</div>
              <div class="alert alert-warning"
                ng-repeat="warning in validateTermsFileResults.warnings | orderBy:'+'">{{warning}}
              </div>
            </div>
          </div>
        </div>
        <div ng-show="selected.tab == 'Export'">
          <!-- Export section -->
          <div style="margin-top: 25px;">
            <h4>Export</h4>
            <span class="btn btn-xs btn-primary" style="margin-right: 10px;"
              ng-click="exportTerms(status)">Export Terms</span> <select
              ng-options="status.key as status.value for status in lists.workflowStatus"
              ng-model="status">
              <option value=""></option>
            </select>
          </div>
        </div>

        <div ng-show="selected.tab == 'QA'">
          <!-- Export section -->
          <div style="margin-top: 25px;">
            <h4>QA</h4>
            <span class="btn btn-xs btn-primary" style="margin-right: 10px;"
              ng-click="processAllTerms(status)">Process Terms</span> <select
              ng-options="status.key as status.value for status in lists.workflowStatus"
              ng-model="status">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>