<html ng-app="ttApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WCI Terminology Transformer Service</title>
<style type="text/css" media="all"></style>
<!-- Favicon -->
<link rel="icon" type="image/png" href="images/favicon.ico" />

<!-- Bootstrap CSS  -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Material Design Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- JQuery (before Anuglar) - for ng-include with script tag
Needed for issue collector to work.. unexpected, I know.  -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Angular core and standard plugins -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<!-- Angular ngRoute -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<!-- Angular animate -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<!-- Angular/Boostrap UI -->
<script type="text/javascript"
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

<!-- Library : Angular File Upload -->
<script type="text/javascript"
	src="lib/angular-file-upload/angular-file-upload.min.js"></script>

<!-- Library: ngTable -->
<script type="text/javascript" src="lib/ng-table/ng-table.min.js"></script>
<link href="lib/ng-table/ng-table.css" rel="stylesheet">

<!-- Application style overrides -->
<link href="app/css/ttApp.css" rel="stylesheet">

<!-- Terminology Transformer Angular application -->
<script src="app/app.js"></script>

<!-- Terminology Transformer Page Views -->
<script src="app/page/admin/admin.js"></script>
<script src="app/page/edit/edit.js"></script>
<script src="app/page/login/login.js"></script>
<script src="app/page/source/source.js"></script>
<script src="app/page/transform/transform.js"></script>
<script src="app/page/upload/upload.js"></script>

<!-- Terminology Trasnformer Services and Utilities -->
<script src="app/services/services.js"></script>

</head>
<body>
	<!--  Javascript detection -->
	<noscript>
		<div class="alert alert-danger">You must have Javascript enabled
			to use the WCI Terminology Transformer Service</div>
	</noscript>

	<!-- Header -->
	<div ng-include src="'app/page/general/header.html'"></div>
	<a id="top"></a>

	<div class="container-fluid" style="margin-top: 75px;">

		<!-- Show global error message -->
		<div ng-include src="'app/page/general/error.html'"></div>

		<div class="row">

			<div class="col-md-1 col-xs-0"></div>
			<div class="col-md-11 col-xs-12">
				<!-- Tab Controls -- tabs set in login.js (after successful login) and app.js (after reload) -->
				<ul ng-show="tabs.length > 1" class="nav nav-tabs">
					<li ng-class="tabClass(tab)" ng-repeat="tab in tabs"><a
						href="#/{{tab.link}}">
							{{tab.label}} </a></li>
				</ul>
			</div>
			<div class="col-md-1 col-xs-0"></div>

		</div>
		
		
		<!-- Body -->
		<div ng-view=""></div>
	</div>

	<!-- Footer -->
	<div ng-include src="'app/page/general/footer.html'"></div>

	<!-- Glass Pane -->
	<div ng-controller="GlassPaneCtrl" ng-show="glassPane.counter > 0"
		class="top-layer">
		<div class="v-wrap">
			<div class="v-box top-layer-message">
				<h5 ng-repeat="message in glassPane.messages"
					class="alert alert-success">{{message}}</h5>
			</div>
		</div>
	</div>

</body>
</html>
