<!-- Controlled by ConceptCtrl (in conceptController.js)  -->

<style>
.color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 2px;
	background-color: #ccc;
	left: 5px;
	top: 5px;
	vertical-align: center;
}
</style>
<div class="row">

  <!-- Content -->
  <div class="col-md-12 col-xs-12">
    <!-- Concept Management section -->

    <div class="row">
      <div class="col-md-6">
        <h3
          ng-show="user.applicationRole == 'ADMINISTRATOR' || user.applicationRole == 'USER'">Concepts
          ({{lists.conceptsViewed.totalCount}})</h3>


        Terminology: <select ng-model="selected.metadata.terminology"
          ng-change="setTerminology(selected.metadata.terminology)"
          ng-options="terminology as terminology.terminology for terminology in getViewableTerminologies() | orderBy:'terminology'">
        </select> <span class="pull-right"> <span class="color-box"
          style="background-color: green;" ng-show="paging['concept'].hasNew"
          ng-click="toggleNewMode()" title="New concepts"></span>&nbsp;<span
          class="color-box" style="background-color: red;"
          ng-show="paging['concept'].hasNeedsReview"
          ng-click="toggleReviewMode()" title="Some concepts need review">
        </span> Status: <select
          ng-options="status.key as status.label for status in lists.workflowStatus"
          ng-model="paging['concept'].workflowStatus" ng-change="findConcepts()"></select>
        </span>
        <div class="row">
          <div class="col-md-8" pager paging="paging['concept']"
            count="lists.conceptsViewed.totalCount"
            callbacks="paging['concept'].callbacks" style="margin-top: 10px;"></div>
          <div class="col-md-4" ng-show="lists.conceptsViewed.totalCount > 10"
            style="float: right; margin-top: 10px;">
            Page size: <select ng-model="paging['concept'].pageSize"
              title="Page Size"
              ng-change="paging['concept'].callbacks.getPagedList()"
              ng-options="pageSize.key as pageSize.value for pageSize in lists.pageSizes">

            </select>
          </div>
        </div>
        <div class="alert alert-warning"
          ng-show="lists.conceptsViewed.totalCount == 0">No results</div>


        <table class="slim table table-hover" style="margin-top: 10px;"
          ng-show="lists.conceptsViewed.concepts.length > 0">
          <tr>
            <th ng-click="setSortField('concept','terminologyId')">Id<span
              ng-bind="getSortIndicator('concept','terminologyId')"></span></th>
            <th></th>
            <th ng-click="setSortField('concept','name')">Name<span
              ng-bind="getSortIndicator('concept','name')"></span></th>
            <th ng-click="setSortField('concept','semanticTypes.semanticType')">{{selected.metadata.semanticTypesLabel}}<span
              ng-bind="getSortIndicator('concept','semanticTypes.semanticType')"></span></th>

            <th ng-click="setSortField('concept', 'lastModified')">Last
              Modified<span ng-bind="getSortIndicator('concept','lastModified')"></span>
            </th>
            <th><i class="noul glyphicon glyphicon-trash"
              confirm="Are you sure you want to remove {{lists.conceptsViewed.totalCount}} concepts?"
              ng-click="removeConcepts()"></i>
          </tr>
          <tbody>
            <!-- table-hover makes use of the active class -->
            <tr ng-class="{selected: concept.id == selected.conceptViewed.id}"
              class="breakword"
              ng-repeat="concept in lists.conceptsViewed.concepts">
              <td class="col-md-2" ng-click="setConceptViewed(concept)">{{concept.terminologyId}}</td>
              <td class="col-md-1" ng-click="setConceptViewed(concept)"><span
                class="color-box"
                style="background-color: red; margin-top: 5px;"
                ng-show="concept.workflowStatus == 'NEEDS_REVIEW'"
                ng-click="setReviewMode()" title="Needs review"></span><span
                class="color-box"
                style="background-color: green; margin-top: 5px;"
                ng-show="concept.workflowStatus == 'NEW'" title="New concept"></span></td>

              <td class="col-md-4" ng-click="setConceptViewed(concept)">{{concept.name}}</td>
              <td class="col-md-2" ng-click="setConceptViewed(concept)">{{concept.semanticTypes[0].semanticType}}
              <td class="col-md-2" ng-click="setConceptViewed(concept)">{{toShortDate(concept.lastModified)}}</td>
              <td class="col-md-1"><i
                class="noul glyphicon glyphicon-trash"
                ng-click="removeConcept(concept)"></i>
            </tr>
          </tbody>
        </table>


        <div ng-show="lists.filterTypes.length > 0">
          Additional Filter: <select ng-model="paging['concept'].filterType"
            ng-change="findConcepts()"
            ng-options="filterType.key as filterType.value for filterType in lists.filterTypes">
          </select>
        </div>
      </div>
      <div class="col-md-6" ng-show="selected.metadata.terminology">

        <ul class="pointer nav nav-tabs"">
          <li ng-class="{active : selected.editTab == 'Edit'}"
            ng-click="selected.editTab = 'Edit';"><a>Edit</a></li>
          <li ng-class="{active : selected.editTab == 'Import'}"
            ng-click="selected.editTab = 'Import';"><a>Import</a></li>
          <li ng-class="{active : selected.editTab == 'Export'}"
            ng-click="selected.editTab = 'Export';"><a>Export</a></li>
          <li ng-class="{active : selected.editTab == 'QA'}"
            ng-click="selected.editTab = 'QA';"><a>QA</a></li>
        </ul>
        <div ng-show="selected.editTab == 'Edit'">

          <div style="margin-top: 14px;">
            <span ng-click="createConcept()" class="btn btn-xs btn-primary">Create
              New</span> or select from table
          </div>

          <h5 ng-show="selected.component">
            <span ng-show="!selected.component.id">Add</span><span
              ng-show="selected.component.id">Edit</span> Concept
          </h5>

          <div report selected="selected" lists="lists" callbacks="callbacks"></div>


          <!-- Review section  -->
          <div
            ng-show="selected.component.workflowStatus == 'NEEDS_REVIEW' || selected.review.errors.length > 0 || selected.review.warnings.length > 0 || selected.review.comments.length > 0">
            <h5>Review</h5>

            <div ng-repeat="error in selected.review.errors"
              class="alert alert-danger">{{error}}</div>
            <div ng-repeat="warning in selected.review.warnings"
              class="alert alert-warning">{{warning}}</div>
            <div ng-repeat="comment in selected.review.comments"
              class="alert alert-success">{{comment}}</div>

            <button class="btn btn-xs btn-primary" title="Mark resolved"
              ng-show="selected.component.workflowStatus == 'NEEDS_REVIEW'"
              ng-click="finishReview()">Finish Review</button>

          </div>
        </div>
        <div ng-show="selected.editTab == 'Import'">

          <!-- Import section -->
          <div style="margin-top: 25px;">
            <h4>Import</h4>
            <table class="table">
              <tr>
                <td>Choose File</td>
                <td>
                  <button type="file" ngf-select ng-model="selected.file"
                    ng-change="clearImportResults()" name="file"
                    ngf-pattern="lists.fileTypesFilter" ngf-max-size="10MB">Browse
                    for File</button> {{lists.fileTypesFilter}}
                </td>
                <td>
                  <div ngf-drop ng-model="selected.file" class="drop-box"
                    ng-change="clearImportResults()" style="margin: 0px;"
                    ngf-drag-over-class="'dragover'" ngf-max-size="10MB"
                    ngf-pattern="selectedIoHandler.fileTypeFilter">Drop
                    file here</div>
                </td>
              </tr>
              <tr ng-show="selected.file">
                <td>Selected File</td>
                <td>{{selected.file.name}}<br> <span
                  class="btn btn-xs btn-success" ng-click="cancelImport()"
                  ng-show="importConceptsFileResults" title="">Completed</span>
                  <span class="btn btn-xs btn-primary"
                  ng-click="importConceptsFile()"
                  ng-show="!importConceptsFileResults" title="Import file">Import</span>
                  &nbsp;<span class="btn btn-xs btn-warning"
                  ng-click="cancelImport()" ng-show="!importConceptsFileResults"
                  title="Cancel import">Cancel</span>
                <td></td>
              </tr>
            </table>

            <div ng-show="importConceptsFileResults">
              <h4>Import Results</h4>
              <div class="alert alert-success"
                ng-repeat="comment in importConceptsFileResults.comments">{{comment}}</div>
              <div class="alert alert-danger "
                ng-repeat="error in importConceptsFileResults.errors | orderBy:'+'">{{error}}</div>
              <div class="alert alert-warning"
                ng-repeat="warning in importConceptsFileResults.warnings | orderBy:'+'">{{warning}}</div>
            </div>
            <div ng-show="validateConceptsFileResults">
              <h4>File Validation</h4>

              <div class="alert alert-success"
                ng-repeat="comment in validateConceptsFileResults.comments">{{comment}}</div>
              <div class="alert alert-danger "
                ng-repeat="error in validateConceptsFileResults.errors | orderBy:'+'">{{error}}</div>
              <div class="alert alert-warning"
                ng-repeat="warning in validateConceptsFileResults.warnings | orderBy:'+'">{{warning}}
              </div>
            </div>
          </div>
        </div>
        <div ng-show="selected.editTab == 'Export'">
          <!-- Export section -->
          <div style="margin-top: 25px;">
            <h4>Export</h4>
            <span class="btn btn-xs btn-primary" style="margin-right: 10px;"
              ng-click="exportConcepts()">Export Concepts</span> <br> <br>
            <input type="checkbox" ng-model="selected.exportReadyOnly">
            Skip abbbreviations needing review<br> <br> <input
              type="checkbox" ng-model="selected.exportAcceptNew"> Mark
            new concepts accepted
          </div>
        </div>
        <div ng-show="selected.editTab == 'QA'">
          <h4>Run Single Check</h4>

          <select ng-model="selected.check"
            ng-options="check as check for check in selected.project.validationChecks"></select>
          <button ng-show="selected.check" class="btn btn-primary btn-xs"
            title="Run selected check on all concepts in project"
            ng-click="performChecks(selected.check)">Perform Check</button>

          <h4>Run All Checks</h4>
          <button class="btn btn-primary btn-xs" ng-click="performChecks()"
            title="Run all available checks on all concepts in project">Perform
            Checks</button>

          <div ng-show="display.qaStatus">
            <div class="alert alert-success" ng-show="display.qaStatus.success">{{display.qaStatus.success}}</div>
            <div class="alert alert-warning" ng-show="display.qaStatus.warning">{{display.qaStatus.warning}}</div>
            <div class="alert alert-danger" ng-show="display.qaStatus.error">{{display.qaStatus.error}}</div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>