<div>

	<!-- Transform nav button -->
	<div class="row">

		<div class="col-md-1 col-xs-0"></div>
		<div class="col-md-10 col-xs-12">

			<button class="btn btn-default btn-primary" ng-disabled="currentView === 'TRANSFORM'" ng-click="setView('TRANSFORM')">Transform!</button>

		</div>
		<div class="col-md-1 col-xs-0"></div>
	</div>

	<!-- Upload nav button -->
	<div class="row">

		<div class="col-md-1 col-xs-0"></div>
		<div class="col-md-10 col-xs-12">

			<button class="btn btn-default btn-primary" ng-disabled="currentView === 'UPLOAD'" ng-click="setView('UPLOAD')">Upload</button>

		</div>
		<div class="col-md-1 col-xs-0"></div>
	</div>
</div>